.hero-box{
   position: relative;
   width: 454px;
   margin-left: 80px;
}
.bottom-title{
   margin: 0px;
   font-style: normal;
   font-weight: 700;
   font-size: 64px;
   line-height: 75px;
   color: #000000;
}
.bottom-text{
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #000000;
   margin-bottom: 34px;
}
.bottom-link{
   padding: 16px 24px;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   text-align: center;
   letter-spacing: 1px;
   font-variant: small-caps;
   color: #FFFFFF;
   background: #0A775F;
   border: 3px solid #F2D3B0;
   border-radius: 100px;
}
.bottom-link:hover{
   border-color: #008b8b;
   color: #333;
   background-color: #ccc;
}
.bottom-link:active{
   border-color: #A57F67;
   color: #8b008b;
   background-color: #00ffff;
}
.hero-section{
   position: relative;
   padding: 156px 0 256px 0;
   background-image: url("../images/Rectangle\ 679.png"), url("../images/Group\ 3613.png");
   background-repeat: no-repeat;
   background-size: 710px 696px, cover;
   background-position: calc(50% + 350px) bottom, calc(0px);
}
.hero-section::before{
   position: absolute;
   top: -75px;
   left: calc(50% + -90px);
   content: '';
   background-image: url("../images/bg.svg");
   background-repeat: no-repeat;
   background-size: 100%;
   width: 200px;
   height: 200px;
}